@model System.Collections.Generic.List<RobotWebPanel.Models.AspNetUsers >

<!DOCTYPE html>

<html>
<head>
    <title>Система управления роботом</title>
</head>
<body>
<div>
    <h1>Система управления роботом</h1>
    <br/>
    <b>Доброго времени суток.</b>
    <br/>
    <a href="../Account/Login">Account login</a>
    <br/>
    <a href="../Account/Registration">Account registration</a>
    <br/>
</div>
</body>
</html>